
PersonalShopper.xcodeproj/project.xcworkspace/xcshareddata/PersonalShopper.xccheckout

PersonalShopper.xcodeproj/project.xcworkspace/xcuserdata/brandao.xcuserdatad/UserInterfaceState.xcuserstate

PersonalShopper.xcodeproj/xcuserdata/brandao.xcuserdatad/xcschemes/PersonalShopper.xcscheme

PersonalShopper.xcodeproj/xcuserdata/brandao.xcuserdatad/xcschemes/xcschememanagement.plist
